<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Log out Page</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css}" />
</head>
<body>
	<h2>Custom Logout Page</h2>
	<form method="POST">
		<h3>Logout</h3>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<button type="submit" class="btn btn-primary">Logout</button>
	</form>
</body>
</html>